develop-environment/jdk-8u311-linux-x64.tar.xz
develop-environment/zig-linux-x86_64-*.tar.xz
develop-environment/flutter_linux_*-stable.tar.xz
codeoss-server-linux-x64-web.tar.gz
develop-environment/node-*-linux-x64*
llvm-toolchain-bookworm-19.sources.list
Python39.tar.xz
host-manager/cloudflared-linux-amd64
cmake-*-linux-x86_64*
osx-cross-compiler.tar.xz
pubspec.lock
.dart_tool/
rustaceans/mingw32
rustaceans/.BUILDINFO
rustaceans/.MTREE
rustaceans/.PKGINFO
rustaceans/mingw-w64-i686-clang-*-any.pkg.tar.zst
crun
